.samplefile{
    color:blue;
    text-decoration: underline;
    margin-left:5px;

    
}
.samplefile:hover{
    color:black !important;
    text-decoration:none !important;
    cursor:pointer;
}
.search_input{
    border-radius: 2px ;

}
.search_button{
    border-radius: 2px;
    width:120px
}
/* *{
    border: 1px solid red ;
} */